<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="research.educational.thiessen.learningappmock">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.NoActionBar.Fullscreen">
        <activity android:name=".MainActivity">

        </activity>
        <activity
            android:name=".DragAndDropActivity"
            android:label="@string/title_activity_drag_and_drop"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@android:style/Theme.Material.NoActionBar.Fullscreen"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".Task1"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_drag"
            android:parentActivityName=".MainActivity"
            android:theme="@style/FullscreenTheme"
            android:screenOrientation="landscape">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity
            android:name=".Task2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_drag"
            android:parentActivityName=".Task1"
            android:theme="@style/FullscreenTheme"
            android:screenOrientation="landscape">


        </activity>

        <activity
            android:name=".Task3"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_drag"
            android:parentActivityName=".Task2"
            android:theme="@style/FullscreenTheme"
            android:screenOrientation="landscape">


        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>